{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include 'partials/_left_menu.html' %}
      </div>

      <div class="col-lg-6">
        <div>
          <div class="row align-items-center">
            <div class="col-4 text-center">
                <a class="btn btn-light bg-white" href="{% url 'book_save' %}">
                    <img src="http://127.0.0.1:8000/image/book.svg" style="width: 50px;">
                    Kitap</a>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-light bg-white" href="{% url 'movie_save' %}">
                    <img src="http://127.0.0.1:8000/image/film.svg" style="width: 50px;">
                    Film</a>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-light bg-white" href="{% url 'series_save' %}">
                    <img src="http://127.0.0.1:8000/image/series.svg" style="width: 50px;">
                    Dizi</a>
            </div>
        </div>
        </div>
        {% for share in shares %}

        <div class="card mt-5" style="width: 100%;">
          <div class="row align-items-center ">
            <div class="col-6 row align-items-center">
              <div class="col-12">
                <a class="link-dark" style="text-decoration: none;" href="{% url 'profiles' share.user %}">
                <img class="img-fluid mt-2 ms-2" style=" border-radius: 50%; width:40px" src="/image/{{share.user.profile_photo.pp}}">
                {{share.user}}</a>

              </div>
            </div>
            <div class="col-6 row align-items-center">
              <div class="col-8">
                <p class="mt-3">{{share.series_share.yt}}</p>
              </div>
            </div>
          </div>

          <div class="card-body">
            <h5 class="cart-title"><a class="link-dark" style="text-decoration: none;" href="{% url 'series_page' share.series_share.series %}">{{share.series_share.series}}</a> - {{share.series_share.series.creater}}</h5>
            <div name="rate">
              <input type="hidden" value="{{share.series_share.rate}}" id="rate">
              <span class="fa fa-star fa-2x" id="first"></span>
              <span class="fa fa-star fa-2x" id="second"></span>
              <span class="fa fa-star fa-2x" id="third"></span>
              <span class="fa fa-star fa-2x" id="fourth"></span>
              <span class="fa fa-star fa-2x" id="fifth"></span> 
              <style>.checked{
                color:orange;  
              }
              </style>

            </div>

            <p class="card-text">{{share.series_share.comment}}</p>
            <div class="row text-center">
              <div class="col">
                <form action="{% url 'series_save' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="series_share" value="{{share.id}}">
                  <input type="hidden" name="heart">
                <p>
                <input type="image" src="/image/{% if share.movie_share.series.name in likess %}full_heart.png {% else %}empty_heart.png{% endif %}" style="width: 30px;">
                {{share.movie_share.like_count}}</p>
              </form>
              </div>
              <div class="col">
                <img id="comment" src="/image/comment.svg" style="width: 30px;">
              </div>
              <div class="col dropend">
                <button class="btn btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="list" class="" src="/image/list.svg" style="width: 30px;">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for series_list in series_lists %}
                <form action="{% url 'series_save' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="series_list" value="{{series_list.id}}">
                  <input type="hidden" name="series_share" value="{{share.series_share.series.id}}">
                <li><button type="submit" class="dropdown-item" >{{series_list.name}}</a></li>
              </form>
                {% endfor %}
              </ul>
              </div>
              <div class="col">
                <form action="{% url 'series_save' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="series_save" value="{{share.series_share.id}}">
                  <input type="hidden" name="save">
                <input type="image" src="/image/{% if share.series_share.series.name in save_list %}full_save.svg {% else %}save.svg{% endif %}" style="width: 30px;">
              </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>

  <script>
    $(function () {

      $("#search").autocomplete({
        source: '{% url 'series' %}',
        minLength: 3

      });

    });

    $('#buton').click(function () {
      var a = $('#search').val();
      var url = '{% url "series_page" 1 %}'.replace('1', a);
      $('#buton').attr('href', url);
    });
  </script>
  <script src="{% static 'js/static_star.js' %}"></script>
</body>
</html>