<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</head>
<body>
    <div class="container">
        <div class="row">

          <div class="col-lg-3">
            {% include 'partials/_left_menu.html' %}
          </div>
          
          <div class="col-md-11 col-lg-8 col-xl-7 col-xxl-6">
            <div class="mt-5">
                <h3>Kitap - {{liste.name}}</h3>
                <ul class="list-group">
                    {% for book in books %}
                    <li class="list-group-item">
                        <div class='row'>
                            <div class="col-6">
                                <h5>{{book.book}}</h5>
                            </div>
                            <div class="col-6 row justify-content-end">
                                        <div class="col-3 col-md-2">
                                          <form method="post" action={% url 'lists' %}>
                                          {% csrf_token %}
                                          <input type="hidden" value="book" name="type_name">
                                          <input type="hidden" value="remove" name="operation">
                                          <input type="hidden" value="{{liste.name}}" name="list_name">
                                          <input type="hidden" value="{{book.book}}" name="book_name">
                                            <input type="image" class="card-img-top" src="/image/trash.svg">
                                          </form>
                                        </div>
                                    </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <form method="post" action={% url 'lists' %}>
                        <div class='row'>
                                {% csrf_token %}
                                <input type="hidden" value="book" name="type_name">
                                <input type="hidden" value="add" name="operation">
                                <input type="hidden" value="{{liste.name}}" name="list_name">
                            <div class="col-6">
                                <input class="form-control me-2 col-9" type="search" placeholder="Ekle" aria-label="Search" name="search" id="search2">

                            </div>
                            <div class="col-6 row justify-content-end">
                                <div class="col-3 col-md-2">
                                    <input type="image" class="card-img-top" src="/image/plus.svg">
                                </div>
                            </div>
                            
                        </div>
                    </form>
                   </li>
                  </ul>
            </div>
          </div>
    
        </div>
    </div>

    <script>
      $( function() {
        
        $( "#search" ).autocomplete({
          source: '{% url 'book' %}',
          minLength: 3
        });
      } );
      
      $( function() {
        
        $( "#search2" ).autocomplete({
          source: '{% url 'book' %}',
          minLength: 3
        });
      } );
          
      $('#buton').click(function (){
          var a =$('#search').val();
          var url ='{% url "book_page" 1 %}'.replace('1',a);
          $('#buton').attr('href', url);
      });
  </script>
</body>
</html>